/* CSS declarations go here */


.talkbubble-user {
    position: relative;
    /*width: 300px;*/
    /*height: 125px;*/
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: solid #57DC60;
    background: #57DC60;
}

.talkbubble-watson {
    position: relative;
    /*width: 300px;*/
    /*height: 125px;*/
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: solid lightgray;
    background: lightgray;
}

/*.talkbubble:before {*/
    /*content:"";*/
    /*position: absolute;*/
    /*right: 100%;*/
    /*top: 26px;*/
    /*width: 0;*/
    /*height: 0;*/

    /*border-top: 13px solid transparent;*/
    /*border-right: 26px solid lightblue;*/
    /*border-bottom: 13px solid transparent;*/
/*}*/

/*.talkbubble textarea {*/
    /*position: inherit;*/
    /*width: inherit;*/
    /*height: inherit;*/
    /*background: inherit;*/

    /*margin: 0;*/
    /*padding: 0;*/

    /*border: none;*/
    /*resize: none;*/
/*}*/